page-userupdate {
.errorpadding{
    padding-left: 5%
}
.mandatory{
    color: red;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .textQR {
text-align: center;
margin-top: 5%;
font-weight: bolder;
  }
}
