page-sender {
    .subtext {
        font-size: x-small 
    }
    .supertext{
        color: green;
        display:inline;
        font-size: medium 
        }
        .otpStyle{
            font-size: small;
            font-weight: bolder;
    }
    .adminsupertext{
        color: rgb(107, 2, 2);
        display:inline;
        font-size: medium 
    }

}
