$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:   #475584,// #DB6930,#0d2a88,
  secondary:  #2b6e42,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  lightgren: #66fd28,
  lblue: #475584,
  greyc:#c4ccc5,
 pdblue: #70c2c5
);

ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
  background: transparent none !important;
}

ion-app.cameraView {
   background-image: url("../assets/imgs/camera_overlay.png") !important;
}


@import "ionic.theme.default";

@import "ionic.ionicons";


@import "roboto";
@import "noto-sans";
